# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=db_auto_postgres
POSTGRES_PORT=5432

# Data Source URLs
URL_DIABETES=https://raw.githubusercontent.com/robert-koch-institut/Diabetes-Surveillance/main/Diabetes-Surveillance_Indikatoren.tsv
URL_GESUNDHEIT=https://raw.githubusercontent.com/robert-koch-institut/Gesundheit_in_Deutschland_Aktuell/main/Gesundheit_in_Deutschland_aktuell_-_2019-2020-EHIS.csv